[Desktop Entry]
Encoding=UTF-8
Version=1.1
Type=Application
Name=EBALinux
Exec=/opt/EBALinux/EBALinux-linux-x64/EBALinux
Comment=Eğitim Bilişim Ağı
Terminal=false
Icon=/opt/EBALinux/logo.png
StartupNotify=true
