[Desktop Entry]
Type=Application
Name=EBALinux
Comment=Eğitim Bilişim Ağı
Exec=/opt/EBALinux/EBALinux-linux-x64/EBALinux
Icon=/opt/EBALinux/logo.png
StartupNotify=true
StartupWMClass=ebalinux-nativefier-59fc24
Terminal=false
Categories=Education
